/* Table first column for move up/down */
#riaco-hpburfw-rules .riaco-hpburfw-item-reorder-nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 4px;
}

#riaco-hpburfw-rules .riaco-hpburfw-item-reorder-nav button {
    font-family: dashicons;
    font-size: 20px;
    line-height: 23px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 6px;
}

#riaco-hpburfw-rules .riaco-hpburfw-item-reorder-nav button.wc-move-disabled {
    opacity: 0.3;
    cursor: default;
}
#riaco-hpburfw-rules .remove-row{
  color: #b32d2e;
}

#riaco-hpburfw-rules select {
    width: 100%;
}

.riaco-table-responsive {
    width: 100%;
    overflow-x: auto;
  }

  #riaco-hpburfw-rules {
  min-width: 800px; /* prevent collapsing too much */
}

.term-checkbox-list {
    border: 1px solid #ccd0d4;
    background: #fff;
    padding: 8px 10px;
    max-height: 160px;
    overflow-y: auto;
    border-radius: 4px;
  }
  
  .term-checkbox {
    display: block;
    margin-bottom: 3px;
  }

  .term-checkbox-tree {
    background: #fff;
    border: 1px solid #ccd0d4;
    padding: 8px 10px;
    border-radius: 4px;
    max-height: 220px;
    overflow-y: auto;
  }
  
  .term-checklist {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .term-item {
    margin: 2px 0;
    align-items: center;
  }
  
  .term-item .toggle-children {
    cursor: pointer;
    font-size: 14px;
    margin-right: 4px;
    color: #50575e;
  }
  
  .term-item label {
    cursor: pointer;
    user-select: none;
  }
  
  